<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV alvaro</title>
    <link href="/css/datos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c81a37063f.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:wght@200;300&family=Nunito+Sans:wght@200;400;600&family=Nunito:wght@200;600;700&family=Satisfy&family=Ubuntu:wght@300;500&display=swap');
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat:wght@300&display=swap"
        rel="stylesheet">
</head>

<div class="welcome">
    <p class="welcomele">MIS DATOS</p>
</div>
<header class="encabezado">
    <a class="homecont" href="/home"><img class="logot" src="/images/logo.png" alt="">
        <p class="nombre">Soria Casali, Alvaro Curriculum</p>
    </a>
    <nav class="nav">
        <ul class="botones">
            
            <li>
                <a href="/home" class="info2"><i class="fa-solid fa-house"></i></i></a>
            </li>
            <li>
                <a href="/datos" class="info"><i class="fa-solid fa-user"></i> Datos Personales</a>
            </li>
            <li>
                <a href="/formacion" class="info"><i class="fa-solid fa-graduation-cap"></i> Formacion Academica</a>
            </li>
            <li>
                <a href="/sobremi" class="info"><i class="fa-solid fa-address-book"></i> Sobre Mi</a>
            </li>
        </ul>
    </nav>
</header>

<body>
    <img class="imagenbody" src="/images/fondo4.jpg" alt="">


    <div class="yo3">
        <img class="imagenyo3" src="/images/fondo linkedin.jpg" alt="">
    </div>
    <div class="datoscont">
        <div class="datospersonales">

            <h1 class="titledate">Datos Personales</h1>
            <h2 class="datos">
                <p class="datos1"><i class="fa-solid fa-calendar-days"></i> 26 de junio de 1990</p>
                <p class="datos1"><i class="fa-solid fa-city"></i> Santiago del Estero</p>
                <p class="datos1"><i class="fa-solid fa-globe"></i> Argentina</p>
                <a href="https://wa.me/3855836570"><p class="datos1" ><i class="fa-solid fa-mobile"></i> 3855836570</p></a>
                <a href="mailto:alvarosoria.26@gmail.com"><p class="datos1"><i class="fa-solid fa-envelope"></i>Alvarosoria.26@gmail.com</p></a>
            </h2>
        </div>
        <div class="footer1">
            <h2 class="titledate2">Mis Redes Sociales</h2>
            <div class="footer2">
                <a href="https://www.facebook.com/AlvaroSC1990"> <p class="efectoredes"><i class="fa-brands fa-facebook"></i>Facebook</p></a>
                <a href="https://www.instagram.com/alvaro.sc90/"><p class="efectoredes"> <i class="fa-brands fa-square-instagram"></i>Instragram</p></a>
                <a href="https://www.linkedin.com/in/alvaro-rodrigo-soria-casali-60422a135/"> <p class="efectoredes"> <i class="fa-brands fa-linkedin"></i>Linkedin</p></a>
            </div>
        </div>
    </div>




</body>
<footer class="footer">
    <div class="footer2">
        <p> <i class="fa-solid fa-copyright"></i> Derechos Reservados Alvaro Soria Casali</p>
    </div>
</footer>
</html>