<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV alvaro</title>
    <link href="/css/formacion.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c81a37063f.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:wght@200;300&family=Nunito+Sans:wght@200;400;600&family=Nunito:wght@200;600;700&family=Satisfy&family=Ubuntu:wght@300;500&display=swap');
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat:wght@300&display=swap"
        rel="stylesheet">
</head>

    <img class="imagenbody" src="/images/fondo4.jpg" alt="">

<div class="welcome">
    <p class="welcomele">MI FORMACIÓN</p>
</div>

<body>
    <header class="encabezado">
        <a class="homecont" href="/home"><img class="logot" src="/images/logo.png" alt="">
            <p class="nombre">Soria Casali, Alvaro Curriculum</p>
        </a>
        <nav class="nav">
            <ul class="botones">
                
                <li>
                    <a href="/home" class="info2"><i class="fa-solid fa-house"></i></i></a>
                </li>
                <li>
                    <a href="/datos" class="info"><i class="fa-solid fa-user"></i> Datos Personales</a>
                </li>
                <li>
                    <a href="/formacion" class="info"><i class="fa-solid fa-graduation-cap"></i> Formacion Academica</a>
                </li>
                <li>
                    <a href="/sobremi" class="info"><i class="fa-solid fa-address-book"></i> Sobre Mi</a>
                </li>
            </ul>
        </nav>
    </header>
    <body>
        <div class="contenedor">
            <div class="bloque ano-1">
                <h2>1</h2>
                <p>ANALISTA EN SISTEMAS</p>
            </div>
            
            <div class="bloque ano-2">
                <h2>2</h2>
                <p>DISEÑADOR GRAFICO</p>
            </div>
            
            <div class="bloque ano-3">
                <h2>3</h2>
                <p>PAQUETE OFFICE</p>
            </div>
            
            <div class="bloque ano-4">
                <h2>4</h2>
                <p>COMMUNITY MANAGER</p>
            </div>
            <div class="bloque ano-1">
                <h2>1</h2>
                <p>CIENCIA DE DATOS JUNIOR CON PYTHON</p>
            </div>
            
            <div class="bloque ano-2">
                <h2>2</h2>
                <p>EXCEL AVANZADO</p>
            </div>
            
            <div class="bloque ano-3">
                <h2>3</h2>
                <p>GESTION DE PROYECTOS</p>
            </div>
            
            <div class="bloque ano-4">
                <h2>4</h2>
                <p>HERRAMIENTAS DE VISUALIZACION (POWERBI Y EXCEL)</p>
            </div>
        </div>





    </body>